.sideBar {
    pointer-events: all;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: all ease-in-out 0.25s;
}

.sideBar[aria-hidden='false'] {
    
    pointer-events: none;
    background: transparent;
}


.sideBar > div[aria-hidden='false'] {
    left: 100vw;
    opacity: 0;
}

.sideBar>div {
    opacity: 1;
    position: fixed;
    left: 50vw;
    top: 0;
    right: 0;
    width: 50vw;
    background-color: black;
    height: 100vh;
    padding: 40px;
    color: deeppink;
    border-left: 1px solid deeppink;
    transition: all ease-in-out 0.25s;
    will-change: contents;
}